<!DOCTYPE html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Home - Cook Boy</title>
    <style>@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');</style>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-section">
                <a class="logo" href="#">
                    <img src="../img/header/logo.png" alt="Cook Boy logo">
                    <div class="app-name">Cook Boy</div>
                </a>
            </div>
            <div class="header-section">
                <input class="search-bar box" type="text" placeholder="Find a recipe">
                <div class="categories-button">Categories</div>
            </div>
            <div class="header-section">
                <div class="login-buttons">
                    <button class="log-in">Log in</button>
                    <button class="sign-in">Sign in</button>
                </div>
            </div>
        </div>
        <div class="main-content">

        </div>
        <div class="footer">

        </div>
    </div>
</body>